# Supabase Configuration (Template)
VITE_SUPABASE_URL=https://oqwzldvbvdigilcekhmo.supabase.co
VITE_SUPABASE_ANON_KEY=sb_publishable_6hQslIoy7wavKvcIgUwE-g_5kx_4uMm
SUPABASE_SERVICE_ROLE_KEY=tu_service_role_key_aqui
SUPABASE_ACCESS_TOKEN=tu_personal_access_token_aqui

